<a href="https://colab.research.google.com/github/flanuer/dask/blob/master/dask.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import dask as dd

In [0]:
from google.colab import drive
drive.mount('/content/drive')

In [0]:
df = pd.read_csv("/content/drive/My Drive/processedHAB.csv")

In [22]:
df.head()

   Unnamed: 0  latitude  longitude  ...  year  dayofyear  category
0          20   27.2167   -82.5417  ...  1954         36         3
1          21   27.1500   -82.5083  ...  1954         36         3
2          22   27.3533   -82.6450  ...  1954         36         3
3          23   27.3417   -82.7167  ...  1954         36         3
4          24   27.3083   -82.5967  ...  1954         36         3

[5 rows x 9 columns]

In [0]:
from dask import dataframe as ddf

In [0]:
ddf = ddf.read_csv("/content/drive/My Drive/processedHAB.csv")

In [29]:
ddf.dtypes

Unnamed: 0        int64
latitude        float64
longitude       float64
sample_depth    float64
salinity        float64
water_temp      float64
year              int64
dayofyear         int64
category          int64
dtype: object